body{
    margin: 0px;
}

.login_button{
    display: flex;
    width: 100%
}

.scroll-table {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

    .scroll-table tr {
        scroll-snap-align: start;
    }