.top-menu {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #3b3d4b;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Montserrat;
}

.top-menu__section {
    display: flex;
    align-items: center;
}

.top-menu__login {
    padding: 12px;
}

    .top-menu__login span {
        cursor: pointer;
        color: #FFFFFF;
    }

.brand {
    margin: 12px;
    font: 24px/120% Montserrat;
    text-decoration: none;
    color: #FFFFFF;
}

.instrument-header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

    .instrument-header.picked {
        background-color: #f0f0f0;
    }

.instrument-header__content {
    display: grid;
    grid-template-columns: min-content min-content;
}

    .instrument-header__content svg {
        cursor: pointer;
    }

.dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    color: white;
    display: inline-block;
    position: relative;
}

.dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 5px 0;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .dropdown-items.show {
        display: block;
        opacity: 1;
        pointer-events: auto;
        transform: translateY(10px);
    }

    .dropdown-items span {
        display: block;
        padding: 10px;
        color: #333;
        cursor: pointer;
        text-align: left;
        transition: background-color 0.3s ease;
    }

        .dropdown-items span:hover {
            background-color: #f1f1f1;
        }
